public_datasets/

ci_nets_PC/1_single_elder_home_monitoring_gas_and_position
ci_nets_PC/2_htru2
ci_nets_PC/3_individual_household_electric_power_consumption
ci_nets_PC/4_magic_gamma_telescope
ci_nets_PC/5_appliances_energy_prediction
ci_nets_HC/1_single_elder_home_monitoring_gas_and_position
ci_nets_HC/2_htru2
ci_nets_HC/3_individual_household_electric_power_consumption
ci_nets_HC/4_magic_gamma_telescope
ci_nets_HC/5_appliances_energy_prediction

bnlearn_magic/magic-irri
bnlearn_magic/magic-niab

asynthetic_nets/Synthetic1
asynthetic_nets/Synthetic2
asynthetic_nets/Synthetic3
asynthetic_nets/Synthetic4